<div class="jumbotron">
  <h1>Hello, world!</h1>
  <h2>Welcome to {{appName}}</h2>
  <p>Have you ever had a project or an idea that you really needed to build but never had the time to bring it to life? {{appName}} is where you meet other people who help you bring ideas to life over a weekend. Post your idea and hackers around the world join you and together you can hack the idea over the weekend for free.</p>
  <div class="start text-center">
    <a class='btn btn-lg btn-success btn-lg' href="/hacks/start">START A HACK</a>
  </div>
</div>
